<% title "Chargers - View Charger" %>
<p> <%= @charger.name%> </p>
<p> <%= @charger.description %> </p>
<p> <%= @charger.coordinates %> </p>
<p> Ups: <%= @positive %> </p>
<p> Downs: <%= @negative %> </p>


<%= link_to 'Thumbs Up!', :thumbs_c_up %>
<%= link_to 'Thumbs Down!', :thumbs_c_down %>
<%= link_to 'Your opinion', new_c_comment_path %>


<b>Comments:</b>
<% if @comments.empty? %>
	<p> There is no review for this station yet. Be the first! </p>
	
<% else %>
	<% @comments.each do |c| %>
		<p> <%= c.review %> </p>
	<% end %>
<% end %>

<% if user_signed_in? %>
	<%= form_for @comment, {:url => c_comments_path, :method => :post} do |c| %>
		
		<p> <%= c.label "Your review!" %> </p>
		<p> <%= c.text_area :review %> </p>
		<%= c.submit "Create" %>
		<br>
	<% end %>
<% end %>

<%= link_to 'All commercial chargers', :all_commercial_chargers %>