<% title "Chargers - View Charger" %>

<table id='a' width="50%" align="center">
	<tr>
		<td><%= link_to 'Home', root_path %></td>
		<td><%= link_to 'My chargers', :my_chargers %></td>
		<td><%= link_to 'All Private chargers', :all_chargers %></td>
		<td><%= link_to 'All Public chargers', :all_commercial_chargers %></td>
		<td><%= link_to 'New Charger', :new_charger %></td>
		<td><% if user_signed_in? %>
				  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
				<% else %>
				  <%= link_to('Login', new_user_session_path)  %>  
			<% end %> 
		</td>

	</tr>
</table>
<br>
<br>

<p> <b>Price:</b> <%= @charger.price%> </p>
<p> <b>Location:</b><%= @charger.location %> </p>
<p> <b>Phone:</b><%= @charger.phone %> </p>
<p> <b>Ups:</b> <%= @positive %> </p>
<p> <b>Downs:</b> <%= @negative %> </p>

<% if @my_charger_id == @my_id %>
	<%= link_to 'Edit charger', :edit_charger %>
	<br>
	<%= button_to 'Delete Charger', :delete_charger, :method => :delete %>
	<br>
<% end %>
<%= link_to 'Thumbs Up!', :thumbs_up %>
<br>
<%= link_to 'Thumbs Down!', :thumbs_down %>
<br>
<% if @exists==false %>
	<%= link_to 'Your opinion', :new_comment %>
<% end %>
<br>

<b>Comments:</b>
<% if @comments.empty? %>
	<p> There is no review for this station yet. Be the first! </p>
	
<% else %>
	<% @comments.each do |c| %>
		<p> <%= c.review %> </p>
	<% end %>
<% end %>

<% if @exists==false && user_signed_in? %>
	<%= form_for @comment, {:url => :comments, :method => :post} do |c| %>
		
		<p> <%= c.label "Your review!" %> </p>
		<p> <%= c.text_area :review %> </p>
		<%= c.submit "Create" %>
		<br>
	<% end %>
<% end %>
